rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ALLOW ALL READ/WRITE ACCESS
    // This is for testing purposes only. 
    // It allows anyone with your project ID to access your data.
    match /{document=**} {
      allow read, write: if true;
    }
    
  }
}